<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
<div th:fragment="navbar">
    <nav th:if="${username}">
        <a href="/">Home</a>
        <a th:href="'/myprofile/'+${userID}">My Profile</a>
        <a href="/feed">Your Feed</a>
        <a href="/users">Search Profiles</a>
        <a href="/logout">Logout</a>
        <div><img id="nav-image" src="/images/cf-logo.png" />[[${username}]]!</div>
    </nav>

    <nav th:unless="${username}">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Join</a>
    </nav>
</div>
</body>
</html>