<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h1>This is my signup page!</h1>
<form action="/signup" method="post">
    <fieldset>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="text" name="firstName" placeholder="first name">
        <input type="text" name="lastName" placeholder="last name">
        <input type="date" name="dateOfBirth">
        <input type="text" name="bio" placeholder="bio">
        <input type="submit" name="sign-up">
    </fieldset>
</form>

</body>
</html>